<h1>Cadastrar Doação — DoaFácil</h1>

<form action="/add-doacao" method="POST">

    <label>Nome do alimento</label><br>
    <input type="text" name="nome_Alimento" required><br><br>

    <label>Quantidade</label><br>
	<input type="text" name="kg_Alimento" placeholder="Ex: 2kg, 10 unidades" required><br><br>

    <label>Nome do doador</label><br>
    <input type="text" name="nome_doador" required><br><br>

    <label>Email do doador</label><br>
    <input type="email" name="email_Doador" required><br><br>

    <label>Telefone do doador</label><br>
    <input type="tel" name="telefone_doador" required><br><br>

    <button type="submit">Enviar</button>

</form>